@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.userDisplay {
    font-family: 'Roboto Mono', Monospace;
    color: #00f5f5;
}

.blink {
    transition: 0.5s;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.commandArea {
    width: 100%;
}

.colorHackerGreen {
    color: #18c918;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
